html,body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  background-color: #e7e7e7;
  max-width: 100%;
  overflow-x: hidden;
  color: black;
}

h1,h2,h3,h4,h5,h6,p,table {
  font-family: 'Open Sans', sans-serif;
}

td {
  padding: 0 10px 0 0;
}

a {
  outline: 0px;
  text-decoration: none;
  color: #00006b;
}

table {
  border-collapse: collapse;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

code, pre {
  color: inherit;
  font-family: 'PT Mono', monospace;
  font-size: 90%;
  padding: 2px;
}

pre code:before, pre code:after {
  content: none;
}

pre {
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #ffffff;
  border: 1px solid #bbb;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border: none;
}

blockquote, q {
  color: #666;
  font-style: italic;
}

blockquote {
  border-left: 6px solid #aaa;
  padding-left: 6px;
  margin-left: 0px;
}

svg {
  position: relative;
  display: inline-block;
}

div.svg-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  fill: currentColor;
  /*background: red; /* for debugging */
}

.light-shadow:hover {
  filter: drop-shadow( 0px 0px 30px rgba(255,255,255,1) ); /* 30 for reasons */
}

div.nav-container {
  font-family:'PT Serif', serif;
  overflow: hidden;
  background-color:#333333;
  color: #e7e7e7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

ul.navigation {
  list-style-type: none;
  margin: auto;
  padding: 0px;
}

ul.navigation a, ul.navigation svg {
  display: inline-block;
  color: inherit;
  padding: 15px 20px; /* this is where 20 + 20 below comes from */
  line-height: 30px; /* same as 30 below */
}

ul.navigation li#name {
  float: left;
  font-size: 30px; /* same as 30 above */
}

ul.navigation li {
  float: right;
}

div.footer {
  font-family: 'PT Serif', serif;
  text-align: center;
  height: 40px; /* 40 from below */
  padding-bottom: 10px;
  position: absolute;

  /* magic trick to center the footer when absolute */
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.content {
  margin: auto;
}

div.main {
  min-height:100%;
  height: auto !important;
  padding-bottom: 40px; /* 40 from above */
}

div.main a:hover {
  text-shadow: 2px 2px 15px #666666;
  color: #6b0000;
}

div.main li {
  margin: 0px 0px 5px 0px;
}

.dark-shadow:hover {
  -webkit-filter: drop-shadow( 2px 2px 15px #666666);
  filter:         drop-shadow( 2px 2px 15px #666666);
}

#container {
  min-height: 100%;
  position: relative;
}
