html,body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  background-color: #e7e7e7;
  max-width: 100%;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,table {
  font-family: 'Open Sans', sans-serif;
}

a {
  outline: 0px;
}

table {
  border-collapse: collapse;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

code, pre {
  color: inherit;
  font-family: 'PT Mono', monospace;
  font-size: 90%;
  padding: 2px;
}

pre code:before, pre code:after {
  content: none;
}

pre {
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #ffffff;
  border: 1px solid #bbb;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border: none;
}

blockquote, q {
  color: #666;
  font-style: italic;
}

blockquote {
  border-left: 6px solid #aaa;
  padding-left: 6px;
  margin-left: 0px;
}

svg {
  display: block;
}

div.svg-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  fill: currentColor;
}

ul.navigation {
  font-family:'PT Serif', serif;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:#333333;
  color: #e7e7e7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

ul.navigation li {
  float: right;
}

ul.navigation li#name {
  float: left;
  font-size: 26px; /* same as 26px below */
}

ul.navigation li#name a, ul.navigation li svg {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 15px 20px; /* this is where 20 + 20 below comes from */
  line-height: 26px; /* same as 26px above */
}


ul.navigation li a {
  display: block;
}

ul.navigation li#name:hover {
  background-color: transparent;
  text-shadow: 0px 0px 25px rgba(100,100,100,1);
}

ul.navigation li#name:active {
  color: white;
  text-shadow: 0px 0px 50px rgba(170,170,170,1);
}

div.content {
  margin: auto;
}

div.main {
  width: 95%;
}

ul.navigation li:hover {
  background-color: #555;
}

ul.navigation li:active {
  background-color: #666;
  color: white;
}

div.footer {
  font-family: 'PT Serif', serif;
  text-align: center;
  margin-bottom: 10px;
  width: 95%;
}

div.dropdown-content {
  display: none;
  position: fixed;
  top: 56px; /* from the font size of the name + 2 paddings  (26 + 2 * 15) */
  right: 0px;
  background-color: #f9f9f9;
  color: black;
  min-width: 10px;
  min-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

div.dropdown:hover div.dropdown-content {
    display: table-cell;
    float: left;
}

@media all and (min-width: 840px) {

  ul.navigation .content {
    width: 840px; /* 800 + 20 + 20 */
  }

  ul.navigation li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 15px 20px; /* this is where 20 + 20 below comes from */
    line-height: 26px; /* same as 26px above */
  }

  div.content {
    width: 800px;
    padding: 0px;
  }

  div.dropdown:hover div.dropdown-content {
    float: right;
  }

  div.dropdown-content {
    display: inherit;
    position: inherit;
    background-color: inherit;
    color: inherit;
    min-width: inherit;
    min-height: inherit;
    box-shadow: inherit;
  }

  div.dropdown-button {
    display: none;
  }
}
