@media all and (max-width: 840px) {

  div.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  div.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  div.dropdown-content a:hover {
    background-color: #e5e5e5;
  }

  div.dropdown-content a:active {
    background-color: #f1f1f1;
  }

  li.dropdown:hover div.dropdown-content {
    display: block;
  }

  li.dropdown div.dropdown-button span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #e7e7e7;
    border-radius: 3px;

    z-index: 1;
  }

  li.dropdown div.dropdown-button span:last-child {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 0px;
    position: relative;

    background: #e7e7e7;
    border-radius: 3px;

    z-index: 1;
  }

  li.dropdown div.dropdown-button {
    padding: 19px 20px; /* gets the height to add up to 60 since the height is 30 (from name font size) + 30 (defined size in base */
    cursor: pointer;
  }

  div.content {
    width: 90%;
  }

  ul.navigation {
    width: 100%;
  }

  #rahul-img-mobile {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  #rahul-img-desktop {
    display: none;
  }
}
