<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="put a witty website description here later
    ">

    $if(root)$
      <title>Rahul Parhi</title>
    $else$
      <title>Rahul Parhi &ndash; $title$</title>
    $endif$

    <!-- font-family: 'Open Sans', sans-serif; -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans'
          rel='stylesheet'
          type='text/css'>
    <!-- font-family: 'PT Serif', serif; -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700'
          rel='stylesheet'
          type='text/css'>
    <!-- font-family: 'PT Mono', monospace; -->
    <link href='https://fonts.googleapis.com/css?family=PT+Mono'
          rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/desktop.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <script>
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                    function () {
                      (b[l].q = b[l].q || []).push(arguments)
                    });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-66619819-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body>
    <div id="container">
      <div class="nav-container">
        <ul class="navigation">
          <li id="name" class="shadow"><a href="/">Rahul Parhi</a></li>

          <li class="dropdown">
            <div class="dropdown-button svg-wrapper">

              <svg class="shadow"
                 xml:space="preserve"
                 width="30"
                 viewBox="0 0 30 30"
                 height="30">
                <a xlink:href="javaScript:void(0);">
                  <path
                    d="M 3,9 27,9 C 28.104,9 29,8.104 29,7 29,5.896 28.104,5 27,5 L 3,5 C 1.896,5 1,5.896 1,7 1,8.104 1.896,9 3,9 Z m 24,4 -24,0 c -1.104,0 -2,0.896 -2,2 0,1.104 0.896,2 2,2 l 24,0 c 1.104,0 2,-0.896 2,-2 0,-1.104 -0.896,-2 -2,-2 z m 0,8 -24,0 c -1.104,0 -2,0.896 -2,2 0,1.104 0.896,2 2,2 l 24,0 c 1.104,0 2,-0.896 2,-2 0,-1.104 -0.896,-2 -2,-2 z" />
                </a>
              </svg>

            </div>
            <div class="dropdown-content">
              <a href="/">Home</a>
              <a href="/about/">About</a>
              <a href="/contact/">Contact</a>
              <a href="/cv/">CV</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="content main">
        <h2>$title$</h2>
        $body$
      </div>

      <div class="footer content">
        <hr />
        &copy; 2015 &ndash;
        <script type="text/javascript">
          now = new Date
          theYear = now.getYear()
          if (theYear < 1900)
            theYear = theYear+1900
          document.write(theYear)
        </script>
        Rahul Parhi
      </div>
    </div>
  </body>
</html>
