<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="put a witty website description here later
    ">

    $if(root)$
      <title>Rahul Parhi</title>
    $else$
      <title>Rahul Parhi &ndash; $title$</title>
    $endif$

    <!-- font-family: 'Open Sans', sans-serif; -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans'
          rel='stylesheet'
          type='text/css'>
    <!-- font-family: 'PT Serif', serif; -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700'
          rel='stylesheet'
          type='text/css'>
    <!-- font-family: 'PT Mono', monospace; -->
    <link href='https://fonts.googleapis.com/css?family=PT+Mono'
          rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/desktop.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <script>
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                    function () {
                      (b[l].q = b[l].q || []).push(arguments)
                    });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-66619819-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body>

    <ul class="navigation">
      <div class="content">
      <li id="name" class="shadow"><a href="/">Rahul Parhi</a></li>

      <li class="dropdown">
        <div class="dropdown-button svg-wrapper">
          <svg class=shadow
            height="26"
            id="menu"
            viewBox="0 0 34 26"
            width="34"
            xml:space="preserve">
            <a xlink:href="javaScript:void(0);">
            <path
             d="M 5,7 29,7 C 30.104,7 31,6.104 31,5 31,3.896 30.104,3 29,3 L 5,3 C 3.896,3 3,3.896 3,5 3,6.104 3.896,7 5,7 Z m 24,4 -24,0 c -1.104,0 -2,0.896 -2,2 0,1.104 0.896,2 2,2 l 24,0 c 1.104,0 2,-0.896 2,-2 0,-1.104 -0.896,-2 -2,-2 z m 0,8 -24,0 c -1.104,0 -2,0.896 -2,2 0,1.104 0.896,2 2,2 l 24,0 c 1.104,0 2,-0.896 2,-2 0,-1.104 -0.896,-2 -2,-2 z"
             id="path3384"/>
            </a>
          </svg>
        </div>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/about/">About</a>
          <a href="/contact/">Contact</a>
          <a href="/cv/">CV</a>
        </div>
      </li>
      </div>
    </ul>

    <div class="content">
      <h2>$title$</h2>
      $body$
    </div>

    <div class="footer content">
      <hr />
      &copy; 2015 &ndash;
      <script type="text/javascript">
        now = new Date
        theYear = now.getYear()
        if (theYear < 1900)
          theYear = theYear+1900
        document.write(theYear)
      </script>
      Rahul Parhi
    </div>

  </body>
</html>
